@model Vidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Movies</h2>

@Html.ActionLink("New Movie","MovieForm","Movies",
                                    new { area = "" }, new { @class = "btn btn-primary" })
<h1></h1>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model.Movies)
    {

        // var id = cust.Id;

        <tr>
            @*<td> @Html.ActionLink(@cust.Name, $"Details/{ id}", "Customersers")</td>*@
            <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
    </tbody>
</table>